body{
  background: white;
  padding-bottom: 50px;
}
#wrapperDiv{
  width: 90%;
  margin: auto;
  font-family: 'Open Sans';
}
.jumbotron{
  text-align: center;
  color: white;
  background: #ccc;
}
label{
  margin-top: 15px;
  font-size: 16px;
  font-weight: normal;
  color:#00b3b4;
}
select{
  border: solid 3px #ccc;
  border-radius: 10px;
}
#submit{
  background: #ccc;
  color: #00b3b4;
  border: solid 2px #ccc;
  border-radius: 10px;
  font-weight: bold;
}

.answer{
  display: none;
  text-align: center;
  color:#00b3b4;
  background: #ccc;
  padding: 10px 30px 30px 20px;
  border-radius: 20px;
  width: 100%;
}
.answer h3{
  font-weight: bold;
  color: white;
}
.answer img{
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.answer p{
  text-align: left;
  font-size: 16px;
}
