#wrapperDiv{
  width: 90%;
  margin: auto;
}
label{
  margin-top: 15px;
}

.answer{
  display: none;
  text-align: center;
}
.answer img{
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}
.answer p{
  text-align: left;
}
